@import url('./forum/oauth');

.AuthorizedRecords {
  list-style: none;
  padding-inline-start: 0;
}

.AuthorizedRecord h3 {
  line-height: 1;
  margin-block-start: 0;
  margin-block-end: 0.5em;
}

.AuthorizedRecord time {
    font-size: 0.8em;
    color: #666;
    float: right;
}
